:root {
  --dark-col: #06283d;
  --mid-col: #256d85;
  --mid-col-o: #256d8575;
  --light-col: #47b5ff;
  --bright-col: #dff6ff;
  --text-col: #f7f7f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-col);
  color: var(--text-col);
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0;
}

#container {
  perspective: 40px;
}

#inner {
  width: 20em;
  height: 18em;
  background-color: var(--mid-col-o);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}
