.tiltComponent {
  height: 400px;
  width: 700px;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
  border: 2px solid white;
}

.tBox {
  border-radius: 20px;
  background: url("../images/backgrounds/pattern01.jpg"), blue;
  background-size: cover;
  background-blend-mode: screen;
}

.img {
  object-fit: cover;
}
